:root{
  // background
  --bg-white: #F7F9F7;
  --bg-white-w: #FFFFFF;
  // text color
  --txt-color-b: #17171C;
  --txt-color-w: #F7F9F7;
  // primary
  --primary: #0d6efd;
  --primary-hover: #0a58ca;
  // danger 
  --danger: #dc3545;
  --danger-hover: #b02a37;
  // success
  --success: #146c43;
  --success-hover: #0f5132;
  // info
  --info: #D9DADD;
  --info-hover: #D0D0D2;
  // alert
  --alert-info: #cce5ff;
  --alert-danger: #f8d7da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--txt-color-b);
}

// body
body{
  background: var(--bg-white);
  position: relative;

  // navbar
  .navBar{
    display: flex;
    align-items: center;
    height: 5vh;
    margin: 20px 50px;

    h1{
      font-size: 1rem;
    }

    div{
      list-style: none;
      display: flex;

      .links{
        text-decoration: none;
        padding: 10px 20px;

        &:hover{
          // font-weight: 600;
          background: var(--info);
          border-radius: 10px;
        }
      }

      // li{
      //   text-align: center;
      //   width: 100px;
      //   background: red;
      //   padding: 10px;
      //   border-radius: 10px;
        
      //   .links{
      //     text-decoration: none;

      //     &:hover{
      //       // font-weight: 600;
      //       background: var(--info);
      //     }
      //   }
      // }
    }
  }

  // homepage
  .homePage{
    height: auto;
    margin-top: 50px;
    padding: 20px;
    margin: 20px 50px;

    h1{
      font-size: 3.3rem;
      margin-bottom: 40px;
      font-weight: 600;
    }

    span{
      background: var(--primary);
      color: var(--txt-color-w);
      padding: 13px 30px;
      border-radius: 10px;
      font-weight: 500;
    }
  }

  // users list
  .userList{
    height: auto;
    margin-top: 50px;
    padding: 20px;
    margin: 20px 50px;

    // add button
    .addUserBtn{
      background: var(--primary);
      border: none;
      padding: 10px 30px;
      color: var(--txt-color-w);
      border-radius: 10px;
      text-decoration: none;
      text-align: center;
      
      &:hover{
        background: var(--primary-hover);
        cursor: pointer;
      }
    }

    // list table
    .userListTable{
      width: 100%;
      text-align: left;
      margin-top: 20px;
      border-collapse: collapse;

      th, td{
        padding: 10px;

        img{
          margin-bottom: 20px;
          width: 80px;
          border-radius: 15px;
        }

        #editBtn,
        #deleteBtn{
          padding: 10px 20px;
          margin-right: 5px;
          border: none;
          border-radius: 10px;
          text-decoration: none;
        }

        #editBtn{
          background: var(--info);

          &:hover{
            background: var(--info-hover);
            cursor: pointer;
          }
        }

        #deleteBtn{
          background: var(--danger);
          color: var(--txt-color-w);

          &:hover{
            background: var(--danger-hover);
            cursor: pointer;
          }
        }
      }

      // tr{
      //   &:nth-child(even){
      //     //
      //   }
      // }
    }
  }

  // create user modal
  .modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);

    .createUserModal{
      background: var(--bg-white-w);
      width: 500px;
      padding: 30px;
      border-radius: 15px;
  
      .modalHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        height: 40px;

        h3{
          font-size: 1.4rem;
          font-weight: 700;
        }

        .alert{
          border-radius: 5px;
          padding: 8px 20px;
          text-align: center;
          font-size: 1rem;
        }

        .alert-info{
          background: var(--alert-info);
        }

        .alert-danger{
          background: var(--alert-danger);
        }
      }

      .modalBody{
        form,
        div{
          display: flex;
          flex-direction: column;

          img{
            margin-bottom: 20px;
            width: 100px;
            border-radius: 15px;
          }

          span{
            font-size: .5rem;
            margin-bottom: 5px;
            font-weight: 600;
          }

          input[type='text']{
            border: 1px solid var(--info-hover);
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 10px;
          }

          .actionBtn{
            width: 100%;
            display: flex;
            flex-direction: column;
            
            #createBtn,
            #updateBtn{
              background: var(--primary);
              color: var(--txt-color-w);
            }

            #deleteBtn{
              background: var(--danger);
              color: var(--txt-color-w);
            }

            input[type='submit'],
            input[type='button']{
              margin-top: 10px;
              padding: 13px 23px;
              border: none;
              border-radius: 10px;
              flex: 1;

              &:hover{
                background: var(--info-hover);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}